universe = vanilla
executable = run_cupy_singularity.sh
transfer_input_files = run_cupy_singularity.py
requirements = (HAS_SINGULARITY=?=TRUE)&&(IS_GLIDEIN=?=TRUE)
+SingularityImage = "/cvmfs/singularity.opensciencegrid.org/james-clark/research-projects-rit/rift:test"
transfer_executable = True
#request_memory = 2048
accounting_group = cit.oneshot.test
request_CPUs = 1
stream_output = True
when_to_transfer_output = ON_EXIT
stream_error = True
request_GPUs = 1
batch_name = "CHECK_GPUS_{{SITE}}-$(cluster)"
+DESIRED_Sites = "{{SITE}}"
log = {{SITE}}-GPUs/IGWN-GPUS-singularity_{{SITE}}-$(cluster)-$(process).log
error = {{SITE}}-GPUs/IGWN-GPUS-singularity_{{SITE}}-$(cluster)-$(process).err
output = {{SITE}}-GPUs/IGWN-GPUS-singularity_{{SITE}}-$(cluster)-$(process).out
notification = never
queue 100
