universe = vanilla
executable = run_numpy_oasis.sh
transfer_input_files = run_numpy_oasis.py
should_transfer_files = YES
requirements = (IS_GLIDEIN=?=TRUE)&&(HAS_CVMFS_oasis_opensciencegrid_org=?=TRUE)
transfer_executable = True
accounting_group = cit.oneshot.test
request_CPUs = 1
request_disk = 1 GB
stream_output = True
when_to_transfer_output = ON_EXIT
stream_error = True
batch_name = "CHECK_CPUS_oasis_{{SITE}}-$(cluster)"
+DESIRED_Sites = "{{SITE}}"
log = {{SITE}}-CPUs/IGWN-CPUs-oasis_{{SITE}}-$(cluster)-$(process).log
error = {{SITE}}-CPUs/IGWN-CPUs-oasis_{{SITE}}-$(cluster)-$(process).err
output = {{SITE}}-CPUs/IGWN-CPUs-oasis_{{SITE}}-$(cluster)-$(process).out
notification = never
+IgwnGridDiagnostics = True
queue 1000
