universe = vanilla
executable = run_numpy_singularity.sh
transfer_input_files = run_numpy_singularity.py
should_transfer_files = YES
requirements = (HAS_SINGULARITY=?=TRUE)&&(IS_GLIDEIN=?=TRUE)
+SingularityImage = "/cvmfs/singularity.opensciencegrid.org/james-clark/research-projects-rit/rift:latest"
transfer_executable = True
accounting_group = cit.oneshot.test
request_CPUs = 1
stream_output = True
when_to_transfer_output = ON_EXIT
stream_error = True
batch_name = "CHECK_CPUS_singularity_{{SITE}}-$(cluster)"
+DESIRED_Sites = "{{SITE}}"
log = {{SITE}}-CPUs/IGWN-CPUs-singularity_{{SITE}}-$(cluster)-$(process).log
error = {{SITE}}-CPUs/IGWN-CPUs-singularity_{{SITE}}-$(cluster)-$(process).err
output = {{SITE}}-CPUs/IGWN-CPUs-singularity_{{SITE}}-$(cluster)-$(process).out
notification = never
+IgwnGridDiagnostics = True
queue 1000
