universe = vanilla

## The application and arguments
executable = read_frames
arguments = "O3.txt fixed"

## Request resources
request_disk = 10 MB
request_cpus = 1
request_memory = 1 GB 
request_gpus = 1

## Set up file transfers
should_transfer_files = YES
transfer_executable = True
transfer_input_files = O3.txt 

# transfer_output_files =
# > transfer_output_files empty: no files
# > transfer_output_files non-existent: all (sandbox) files
transfer_output_files = 

## Require glidein to target specific sites
#requirements = IS_GLIDEIN && HAS_LIGO_FRAMES && HAS_CVMFS_oasis_opensciencegrid_org
requirements = IS_GLIDEIN && HAS_CVMFS_oasis_opensciencegrid_org
+flock_local = False
batch_name = "Auth-CVMFS-GPUs-Fix-{{SITE}}-$(cluster)"
+DESIRED_Sites = {{SITE}}

## Stream stdout and stderr
stream_output = True
stream_error = True

## IGWN accounting information
accounting_group = cit.oneshot.test

## Set up authentication: CVMFS frame access REQUIRES a VALID x509 proxy
# (e.g. ligo-prox-init)
use_x509userproxy = True

## Condor UserLog, stderr and stdout files
log = {{SITE}}-auth-cvmfs/read-fixed-frames-gpu-$(cluster)_$(process).log
error = {{SITE}}-auth-cvmfs/read-fixed-frames-gpu-$(cluster)_$(process).err
output = {{SITE}}-auth-cvmfs/read-fixed-frames-gpu-$(cluster)_$(process).out

max_retries = 0
notification = Error
queue 1000
